
<mat-card class="main"> 
<div >
    <mat-card-title>Associate Timeoff Details</mat-card-title>
    
    <ejs-schedule width='100%' height='460px'  [eventSettings]="eventSettings" [group]='group'> 
        <e-resources>
            <e-resource field="OwnerId" title="Owner" name="Owners"
              [dataSource]="timeoff" [allowMultiple]="allowMultipleCategory"
              textField="associateName" idField="OwnerId" colorField="OwnerColor">
            </e-resource>
          </e-resources>
      <e-views>
        <e-view option="TimelineDay" ></e-view>
        <e-view option="TimelineWeek"></e-view>
    </e-views>
   
    
    </ejs-schedule>
  <!--  {{timeoff | json}} -->
  </div>
</mat-card>
  <mat-card class="leave-list" ><mat-card-title>Leave Request List</mat-card-title>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="associateId">
              <th mat-header-cell *matHeaderCellDef> Associate Id </th>
              <td mat-cell *matCellDef="let element"> {{element.associateId}} </td>
            </ng-container>
            <ng-container matColumnDef="associateName">
                <th mat-header-cell *matHeaderCellDef> AssociateName</th>
                <td mat-cell *matCellDef="let element"> {{element.associateName}} </td>
              </ng-container>
              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> StartTime</th>
                <td mat-cell *matCellDef="let element"> {{element.startTime | date:'d/MMM/yyyy, h:mm a'}} </td>
              </ng-container>
              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef> EndTime </th>
                <td mat-cell *matCellDef="let element"> {{element.endTime  | date:'d/MMM/yyyy, h:mm a'}} </td>
              </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="reportedDate">
              <th mat-header-cell *matHeaderCellDef> ReportedDate </th>
              <td mat-cell *matCellDef="let element"> {{element.reportedDate}} </td>
            </ng-container>
            <ng-container matColumnDef="timeType">
                <th mat-header-cell *matHeaderCellDef> timeType </th>
                <td mat-cell *matCellDef="let element"> {{element.timeType}} </td>
              </ng-container>
              <ng-container matColumnDef="fullDay">
                <th mat-header-cell *matHeaderCellDef> fullDay </th>
                <td mat-cell *matCellDef="let element"> {{element.fullDay}} </td>
              </ng-container>
              
              <!-- actions -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  <!-- <button mat-icon-button color="primary" (click)="Approve()">
                    Approve
                  </button> -->
                </mat-header-cell>
          
                <mat-cell *matCellDef="let row; let i=index;" >
                    <form class="example-form" >
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Leave a comment"></textarea>
                      </mat-form-field>
                    </form>
                  <button mat-button color="primary" (click)="startEdit(i, row.companyName, row.letter, row.companyInfo, row.phoneNumber
                  , row.policyNumberFormat, row.email)">
                   Approve
                  </button>
          
                  <button mat-button color="accent" (click)="deleteItem(i, row.companyName, row.letter, row.companyInfo, row.phoneNumber,
                   row.policyNumberFormat, row.email)">
                   Deny
                  </button>
                </mat-cell>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          </mat-card-content></mat-card>